
.user-section {
    margin-top: 15%;   
    padding: 20px;
    border: 2px solid #000000;    
}

.input-section, .btn-section, .result-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}